@import 'node_modules/reset-css/sass/_reset.scss';


$blue: #B7DCFF;
$black: #2F2F2F;

:root {
    font-family: Inter, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .container {
        width: 100%;
        max-width: 400px;
        margin-top: 10vh;
        padding: 47px 28px;
        box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        form {
            display: flex;
            margin-bottom: 36px;

            * {
                border-radius: 6px;
                font-size: 16px;
                line-height: 41px;
                color: $black;
            }
            
            input {
                flex: 1;
                padding: 0 10px;
                border: 1px solid $blue;
                font-weight: 400;

                &::placeholder {
                    opacity: .7;
                }

                &:focus {
                    outline: 2px solid $blue;
                }
            }

            span {
                display: none;
                color: red;
            }
            
            button {
                padding: 0 30px;
                margin-left: 16px;
                border: none;
                background-color: $blue;
                cursor: pointer;
                transition: filter .2s;

                &:hover {
                    filter: brightness(1.05);
                }
            }
        }

        #tasks {
            .empty {
                font-size: 16px;
                font-weight: 400;
                line-height: 17px;
                text-align: center;
                color: $black;
            }

            .task {
                display: flex;
                align-items: center;
                background-color: #DFF0FF;
                border-radius: 6px;
                margin-bottom: 8px;
                padding: 8px;

                &.checked > label{
                    text-decoration-line: line-through;
                }

                label {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 17px;
                    color: $black;
                    cursor: pointer;

                    input {
                        width: 15px;
                        height: 15px;
                        margin-right: 10px;
                    }
                }

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    padding: 0;
                    transform-origin: 12px 12px;
                    transition: .6s;

                    &:hover {
                        transform: rotate(-360deg);
                    }
                }
            }
        }
    }
}